.about {
  height: auto;
  min-height: 90vh;
  background-color: rgba(19, 9, 36, 0.9);
}

.my-info {
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image {
  margin: 1rem 2rem;
  justify-content: center;
}

.my-image img {
  height: 300px;
  width: 280px;
  border-radius: 12px;
}

.about-me {
  margin: 0 2rem;
  width: 70%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #fff;
  font-size: 30px;
  border-bottom: 3px solid red;
}

.my-position {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 16px;
  letter-spacing: .45px;
}

.my-details {
  margin-top: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
}

.my-data {
  display: flex;
  flex-direction: column;
}

.details {
  padding: 4px 0;
  font-size: 14px;
  color: #fff;
  letter-spacing: .45px;
}

.download-cv {
  margin-top: 1.5rem;
  height: 40px;
  width: 120px;
  color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgb(170, 61, 61);
}

.download-cv:hover {
  background: rgb(173, 37, 37);
}

@media screen and (max-width: 820px) {
  .my-info {
    flex-direction: column;
    padding: 1rem;
  }

  .my-image img {
    height: 380px;
    width: 320px;
  }

  .about-me {
    padding: 1rem 1.5rem;
    width: 100%;
  }

  .my-data {
    padding: 0 10px;
  }

}